@import url ('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  /*margin: auto;
  max-width: 1500px;*/
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
}

#waves {
  width: 100vw;
  height:100vh;
  position: fixed;
  z-index: -999;
}

h1 {
  padding: 20px 0px 10px 0px;
}

img {
  display: block;
  margin: auto;
  text-align: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
.container{
  display: inline-block;
  margin: 10px 120px;
  width: 100%;
}

.portfolio-item {
  margin-top: 60px;
  margin: 5px;
  float: left;
  width: 375px;
  overflow: auto;
  padding: 30px 20px;
  background-color: #C4EBFF;
  opacity: 0.9;
  color: #B38854;
  text-align: center;
  display: inline-block;
}

.actual_size {
  margin-top: 60px;
  padding: 40px;
  background-color: #C4EBFF;
  color: #B38854
}

.header {
  padding: 30px 20px;
  background-color: #6699B3;
  color: #FFD9AB;
  opacity: 0.8;
}

.statement {
  margin-top: 60px;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.8;
  color: #B38854
}
.twocolumns{

}

#me {
  width: 48%;
  float: left;
}

#bio{
  width:
}

.socials {
  margin-top: 60px;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.8;
  color: #B38854;
  position: absolute;
  padding: 50px;
  font-size: 2em;
  width: 100%;
}

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #B38854;
    text-decoration: none;
    transition: .2s;
  }

  a:active {
    color: #B38854;
    text-decoration: none;
  }

footer {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

.footerflex {
  position: relative;
  bottom: 0;
  display: block;
}

#footerport{
  color: white;
  width: 100%;
  display: block;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

.icon {
  padding: 15px;
}
