@import url ('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

/*style>*/
body {
  background-image: url("/images/graph3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*</style>*/

h1 {
  padding: 20px 0px 10px 0px;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
.portfolio-item {
  margin-top: 60px;
  margin: 15px;
  float: left;
  width: 375px;
  overflow: auto;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.9;
  color: #B38854
}

.actual_size {
  margin-top: 60px;
  padding: 40px;
  background-color: #C4EBFF;
  color: #B38854
}

.header {
  margin-top: 60px;
  padding: 40px;
  background-color: #6699B3;
  color: #FFD9AB
}

.statement {
  margin-top: 60px;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.9;
  color: #B38854
}

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #B38854;
    text-decoration: none;
  }

  a:active {
    color: #B38854;
    text-decoration: none;
  }
}
