@import url ('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  /*margin: auto;
  max-width: 1500px;*/
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
}

#waves {
  width: 100vw;
  height:100vh;
  position: fixed;
  z-index: -999;
}

h1 {
  padding: 10px 0px;
}

img {
  display: block;
  margin: auto;
  text-align: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.header {
  padding: 20px;
  background-color: #6699B3;
  color: #FFD9AB;
  opacity: 0.8;
  z-index: 1;
}

/* shrink header animation*/
#port{
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}

/*gallery*/
.container{
  display: inline-block;
  margin: 195px 155px 20px;
  width: 100%;
}

.portfolio-item {
  margin-top: 60px;
  margin: 5px;
  float: left;
  width: 375px;
  overflow: auto;
  padding: 30px 5px 10px;
  background-color: #C4EBFF;
  opacity: 0.9;
  color: #B38854;
  text-align: center;
  display: inline-block;
}

.actual_size {
  margin-top: 20px;
  padding: 40px;
  background-color: #C4EBFF;
  color: #B38854
}

/*shrink header animation for actual size portfolio items*/
#shrinkhead{
  padding: 40px;
  background-color: #C4EBFF;
  color: #B38854;
  width: 100%;
  margin-top: 195px;
  display: inline-block;
  top: 0;
}

#slide_pieces{
  padding: 40px;
  background-color: #C4EBFF;
  color: #B38854;
  margin-top: 80px;
  display: inline-block;
  width: 100%;
  top: 0;
}

.statement {
  margin-top: 200px;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.8;
  color: #B38854;
  display: inline-block;
  top: 0;
}
.twocolumns{

}

#me {
  width: 48%;
  float: left;
}

#bio{
  width:
}

.socials {
  margin-top: 20px;
  padding: 40px;
  background-color: #C4EBFF;
  opacity: 0.8;
  color: #B38854;
  position: absolute;
  padding: 50px;
  font-size: 2em;
  width: 100%;
}

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #B38854;
    text-decoration: none;
    transition: .2s;
  }

  a:active {
    color: #B38854;
    text-decoration: none;
  }
/* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
  }

/* Hide the images by default */
  .mySlides {
    display: none;
  }

/* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: white;
  }

/* Caption text */
  .text {
    color: #B38854;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
  }

/* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: -10px 2px;
    background-color: white/*#bbb*/;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: #B38854 /*#717171*/;
  }

/* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

footer {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

/*statement footer*/
.footerflex {
  position: relative;
  bottom: 0;
  display: block;
}

/*portfolio footer*/
#footerport{
  color: white;
  width: 100%;
  display: block;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

/*social icons*/
.icon {
  padding: 15px;
}
